body {
    background-color: #e9f5f9;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.version {
    margin-bottom: 10%;
}

.logo {
    width: 30rem;
    height: 30rem;
    transform: rotate(-45deg);
    -webkit-animation:spin 2s ease-in-out infinite;
    -moz-animation:spin 2s ease-in-out infinite;
    animation:spin 2s ease-in-out infinite;
}

@-moz-keyframes spin { 
    50% { -moz-transform: rotate(45deg); }
    100% { -moz-transform: rotate(-45deg); }
}

@-webkit-keyframes spin { 
    50% { -moz-transform: rotate(45deg); }
    100% { -moz-transform: rotate(-45deg); }
}

@keyframes spin { 
    50% { 
        -webkit-transform: rotate(45deg);
        transform:rotate(45deg);
    }
    100% { 
        -webkit-transform: rotate(-45deg);
        transform:rotate(-45deg);
    }
}
